{% extends 'news/base.html' %}

{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}
{% block content %}
<h1>Parolni qayta tiklash</h1><br><br>
    <p>Parolni qayta tiklash uchun quyidagi formani to'ldiring</p><br><br>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p><br><br>
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" style="width:400px;" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                </div>
            {% endfor %}
            <p><button type="submit" class="btn btn-danger" style="border-radius:4px; background-color: #EF5AF1; text-decoration: none;">Parolni o'gartirish</button><br><br>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq <br>
            foydalanilgan bo'lishi mumkin yoki ishlatilgan vaqt o'tib<br>
            ketgan bo'lishi mumkin.
        </p><br><br>    
                        
    {% endif %}
{% endblock %}



