{% extends 'news/base.html' %}
{% load static %}

{% block title %} Contact Us {% endblock title %}
{% block content %}

  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Biz bilan aloqa</h2>
            <p>Biz bilan bog'lanmoqchi yoki bizga takliflaringiz bo'lsa <br> ushbu formani to'ldiring</p>
            <form action="#" class="contact_form" method="post">{% csrf_token %}
              <input class="form-control" type="text" placeholder="Ismingizni kiriting", name="name">
              <input class="form-control" type="email" placeholder="Emailingizni kiriting", name="email">
              <textarea class="form-control" cols="30" rows="10" placeholder="Xabaringizni kiriting", name="message"></textarea>
              <input type="submit" value="Yuborish">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
       
      </div>
    </div>
  </section>
{% endblock content %}

